.ProductCart {
  max-width: 277px;
  min-width: 277px;
  border: 1px solid #b1b1b1;
margin-bottom: 38px;
}

.ProductImage{
  padding: 21px 26px 16px 26px;
  border-bottom: 1px solid #b1b1b1;
}

.ProductDetail {
  padding: 15px 24px 20px 16px;
}
.ProductDetail h3{
    font-family: 'Roboto';
    max-width: 191px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
 color: #000000;
} 
.ProductPriceMain {
  margin-top: 24px;
}

.ProductPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ProductPrice p{
    color: #AAAAAA;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #AAAAAA;
    margin-bottom: 3px;;
}
.ProductPrice h4{
    margin-left: 4px;
}
.CartIcon{
    margin-left: 95px;
}
